@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');
}
/* header */

body{
    font-family: "Pretendard";
}
.nav{
    display: flex;
    width: 1789px;
    margin: 0 auto;
}
.gnb>ul{
    display: flex;
}
.nav-icon ul{
    display: flex;
}
.logo{
    font-size: 24px;
    letter-spacing: -0.025em;
    line-height: 140%;
    font-weight: 600;
}
.gnb a{
    font-size: 24px;
    text-decoration:  none;
    color: #000;
    letter-spacing: -0.025em;
    line-height: 140%;
    font-weight: 600;
    }
.logo_item{
    margin-right: 171px;
}
.gnb li{
    margin-right: 40px;
}

.gnb li:last-child{
    margin-right: 0;
}
.nav-icon{
    margin-left: 171px;
}
.header{
    padding: 20px 0;
    }
.nav-icon li:first-child{
    margin-right: 33px;
}
.content_01{
    width: 100%;
    height: 670px;
    background: url('../images/mainbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.slider{
    margin-left: 205px;
}
.slider h2{
    font-size:  40px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #FFF;
    margin-bottom: 21px;

}
.slider p{
    font-size: 16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #FFF;
    margin-bottom: 67px;

}
.slider button{
    background-color:  none;
    border: 1px ;
    border-radius: 3px;
    padding: 14px 16px;
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 600px;
    justify-content: center;
    }
.sec02{
    padding: 100px 0;
    overflow-x: hidden;
    padding: 100px 0;
    }

.swiper{
    width: 100%;
    height: 500px;
    background: #D9D9D9;
}
.sec02_title{
    text-align: center;
}
.sec02_title h2{
    font-size:  32px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: black;
    font-weight: 600;
    margin-bottom: 21px;
}
.sec02_title p{
    margin-bottom: 95px;
    font-size:  16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #767676;
    margin-bottom: 95px;
}
.sec03{
    padding: 100px 0;
}
.sec03_title{
    text-align: center
}
.sec03_title h2{
    font-size:  32px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: black;
    font-weight: 600;
    margin-bottom: 23px;
}
.sec03_title p{
    font-size:  16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #767676;
    margin-bottom: 80px;
}     
.sec03_contet{
    width: 1318px;
    margin: 0 auto;
}
.sec03_item{
    width: 32%;
    float: left;
    margin-right: 11px;
    }
.sec03_item_img{
    width: 100%;
    height: 280px;
}
.sec03_item_text h2{
    font-size:  32px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: black;
    font-weight: 600;
    margin-bottom: 23px;
}
.sec03_item_text p{
    font-size:  16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #767676;
    margin-bottom: 80px;
}
.clearfix{
    clear: both;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
}
.sec04_title{
    text-align: center;
}
.sec04_title h2{
    font-size:  32px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: black;
    font-weight: 600;
    margin-bottom: 23px;
}
.sec04_title p{
    font-size:  16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #767676;
    margin-bottom: 80px;
}
.sec04_content{
    width: 1316px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 200px;
    background: #D9D9D9;
}
.sec05{
   margin-bottom: 80px; 
}




/* common*/

.d-flex{
    display: flex;
}
.font-12{
    font-size: 12;
}
.font-16{
    font-size: 16;
}
.font-24{
    font-size: 24;
}
.font-32{
    font-size: 32px;
}
.text-align{
    text-align: center;
}
.font-weight{
    font-weight: 500;
}
.w-1316{
    width: 1316px;
    margin: auto;
}
img{
    width: 100%;
}
.w-650{
    width: 650px;
}
.w-550{
    width: 550px;
}
.m-l-18{
    margin-left: 20px;
}
.m-r-11{
    margin-right: 11px;
}
.m-b-25{
    margin-bottom: 25px;
}
.m-b-82{
    margin-bottom: 82px;
}
.m-b-8{
    margin-bottom: 8px;
}
.m-t-12{
    margin-top:  12px;
}
.font-600{
    font-weight: 600;
}
.d-flex-s{
    display: flex;
    justify-content: space-between;
}
.line-height{
    line-height: 140%;
}
.letter-spacing{
    letter-spacing: -0.025em;
}

.sec08{
    width: 1903px;
    overflow: hidden;
}
.over-f-h{
    width: 4000px;
    margin-left: -150px;
}
.bg1{
    background: url("../images/bg1.png");
}
.bg2{
    background: url("../images/bg2.png");
}
.bg3{
    background: url("../images/bg3.png");
}
.bg4{
    background: url("../images/bg4.png");
}
.bg5{
    background: url("../images/bg5.png");
}
.bg6{
    background: url("../images/bg6.png");
}

.box{
    width: 352px;
    height: 250px;
    background-color: salmon;
    margin: 0 10px;
    }
.padding-t-100{
    padding: 100px;
}
.asid-contet{
    padding: 20px 0 60px 0;
    border-top: 1px solid #ccc;
    /*box-shadow: inset 0px 1px #767676;*/
    /*x축 y축 블러, px에 포함되지X
    inset- border inside값 
    ,로 중첩 가능*/
    box-shadow: inset 0px 1px black;
}
.left-title{
    width: 328px;
}
.right-title{
    width: 458px;
}
.flat-6__content{   
 width: 648px;
 height: 315px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 }
.flat-6__content p{
    margin: 25px 0 20px 0;
}
.bg-flat-1{/*posetion,size 따로쓰기*/
    background:no-repeat url('../images/sec9-1.png') ;
    background-position: center;
    background-size: cover;
}
/*
.bg-flat-1:hover{
    transition: all 3s;
    border-radius: 100px;
    background-size: 130% 130%;
    width: 1000px;
}*/
.bg-flat-2{/*posetion,size 따로쓰기*/
    background:no-repeat url('../images/sec9-2.png') ;
    background-position: center;
    background-size: cover;
}
.ml-10{
    margin-left: 10px;
}
.mb-10{
    margin-bottom: 10px;

}
.bg-flat-3{
    background: url("../images/sec9-3.png") no-repeat;
}
.flat-6__content-a{
    width: 325px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bg-flat-4{
    background: url("../images/sec9-4.png") no-repeat;
}
.bg-flat-5{
    background: url("../images/sec9-5.png") no-repeat;
}
.bg-flat-6{
    background: url("../images/sec9-6.png") no-repeat;
}
.flat-6__content-c{
    width: 325px;
    height: 206.67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.flat-6__content-c>h3{
    font-size:  25px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #fff;
    font-weight: 600;
    margin-bottom: 23px;

}
.flat-6__content-c>p{
    font-size:  16px;
    letter-spacing: -0.025em;
    line-height: 140%;
    color: #fff;
    margin-bottom: 23px;
    font-weight: 300;
    padding: 0 20px;
}
.flat-6__content-c>h3{
    padding: 0 20px;
}